USE [QuanLyVPP]
GO
/****** Object:  Table [dbo].[BOPHAN]    Script Date: 3/25/2018 5:14:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOPHAN](
	[MABP] [nchar](10) NOT NULL,
	[TENBP] [nvarchar](50) NULL,
	[NVQL] [nchar](10) NULL,
 CONSTRAINT [PK_BOPHAN] PRIMARY KEY CLUSTERED 
(
	[MABP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETDONBANHANG]    Script Date: 3/25/2018 5:14:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDONBANHANG](
	[MADONBANHANG] [nchar](10) NOT NULL,
	[MASP] [nchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[GIA] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETDONHANG]    Script Date: 3/25/2018 5:14:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDONHANG](
	[MADONHANG] [nchar](10) NOT NULL,
	[MASP] [nchar](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[DONGIA] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETDONNHAPHANG]    Script Date: 3/25/2018 5:14:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETDONNHAPHANG](
	[MADONNHAPHANG] [nchar](10) NOT NULL,
	[MASP] [nchar](10) NOT NULL,
	[DONGIA] [nchar](10) NULL,
	[SOLUONG] [nchar](10) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETHUYHANG]    Script Date: 3/25/2018 5:14:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHUYHANG](
	[MADONHUYHANG] [nchar](10) NOT NULL,
	[MASP] [nchar](10) NOT NULL,
	[SOLUONG] [nchar](10) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DONBANHANG]    Script Date: 3/25/2018 5:14:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONBANHANG](
	[MADONBANHANG] [nchar](10) NOT NULL,
	[MANV] [nchar](10) NOT NULL,
	[TONGTIEN] [nchar](10) NOT NULL,
	[NGAYGIO] [smalldatetime] NULL,
	[CHUYENKHOAN] [bit] NULL,
	[TIENMAT] [bit] NULL,
	[MAKHACHHANG] [nchar](10) NULL,
 CONSTRAINT [PK_DONBANHANG] PRIMARY KEY CLUSTERED 
(
	[MADONBANHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DONDATHANG]    Script Date: 3/25/2018 5:14:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONDATHANG](
	[MADONHANG] [nchar](10) NOT NULL,
	[MANV] [nchar](10) NOT NULL,
	[MANHACC] [nchar](10) NOT NULL,
	[NGAY] [smalldatetime] NULL,
 CONSTRAINT [PK_DONDATHANG] PRIMARY KEY CLUSTERED 
(
	[MADONHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DONNHAPHANG]    Script Date: 3/25/2018 5:14:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONNHAPHANG](
	[MANHACC] [nchar](10) NOT NULL,
	[MDNH] [nchar](10) NOT NULL,
	[MANV] [nchar](10) NOT NULL,
	[MDONHANG] [nchar](10) NOT NULL,
	[NGAYNHAN] [smalldatetime] NULL,
	[TONGTIEN] [int] NULL,
	[CHUYENKHOAN] [bit] NULL,
	[TIENMAT] [bit] NULL,
 CONSTRAINT [PK_DONNHAPHANG] PRIMARY KEY CLUSTERED 
(
	[MDNH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HUYHANG]    Script Date: 3/25/2018 5:14:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HUYHANG](
	[MADONHUYHANG] [nchar](10) NOT NULL,
	[MANV] [nchar](10) NOT NULL,
	[NGAY] [smalldatetime] NULL,
 CONSTRAINT [PK_HUYHANG] PRIMARY KEY CLUSTERED 
(
	[MADONHUYHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 3/25/2018 5:14:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKHACHHANG] [nchar](10) NOT NULL,
	[TENKHACHHANG] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [nchar](11) NULL,
	[EMAIL] [nchar](50) NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NGANSACHCONGTY]    Script Date: 3/25/2018 5:14:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NGANSACHCONGTY](
	[NGAYGIO] [smalldatetime] NOT NULL,
	[TIENMAT] [nchar](10) NULL,
	[TIENTRONGNGANHANG] [nchar](10) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 3/25/2018 5:14:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANHACC] [nchar](10) NOT NULL,
	[TENNHACC] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[SDT] [nchar](11) NULL,
	[EMAIL] [nchar](50) NULL,
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MANHACC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 3/25/2018 5:14:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [nchar](10) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[SDT] [nchar](11) NULL,
	[DIACHI] [nvarchar](50) NULL,
	[EMAIL] [nchar](10) NULL,
	[MABP] [nchar](10) NULL,
	[NGAYSINH] [date] NULL,
	[TENDN] [nchar](20) NULL,
	[MATKHAU] [nchar](10) NULL,
	[CHUCVU] [nvarchar](50) NULL,
	[CHOPHEPQUANLYNV] [bit] NULL,
	[CHOPHEPQUANLYTK] [bit] NULL,
	[CHOPHEPQUANLYTHUCHI] [bit] NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUCHI]    Script Date: 3/25/2018 5:14:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUCHI](
	[MAPHIEU] [nchar](10) NOT NULL,
	[BOPHAN] [nchar](10) NULL,
	[NOIDUNG] [nvarchar](50) NULL,
	[SOTIEN] [int] NULL,
 CONSTRAINT [PK_PHIEUCHI] PRIMARY KEY CLUSTERED 
(
	[MAPHIEU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 3/25/2018 5:14:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MA] [nchar](10) NOT NULL,
	[TEN] [nvarchar](50) NULL,
	[DONVI] [nvarchar](50) NULL,
	[SOLUONG] [int] NULL,
	[TINHTRANG] [bit] NULL,
	[DONGIA] [int] NULL,
 CONSTRAINT [PK_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[BOPHAN]  WITH CHECK ADD  CONSTRAINT [FK_BOPHAN_NHANVIEN] FOREIGN KEY([NVQL])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[BOPHAN] CHECK CONSTRAINT [FK_BOPHAN_NHANVIEN]
GO
ALTER TABLE [dbo].[CHITIETDONBANHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDONBANHANG_DONBANHANG] FOREIGN KEY([MADONBANHANG])
REFERENCES [dbo].[DONBANHANG] ([MADONBANHANG])
GO
ALTER TABLE [dbo].[CHITIETDONBANHANG] CHECK CONSTRAINT [FK_CHITIETDONBANHANG_DONBANHANG]
GO
ALTER TABLE [dbo].[CHITIETDONBANHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDONBANHANG_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MA])
GO
ALTER TABLE [dbo].[CHITIETDONBANHANG] CHECK CONSTRAINT [FK_CHITIETDONBANHANG_SANPHAM]
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDONHANG_DONDATHANG] FOREIGN KEY([MADONHANG])
REFERENCES [dbo].[DONDATHANG] ([MADONHANG])
GO
ALTER TABLE [dbo].[CHITIETDONHANG] CHECK CONSTRAINT [FK_CHITIETDONHANG_DONDATHANG]
GO
ALTER TABLE [dbo].[CHITIETDONHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDONHANG_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MA])
GO
ALTER TABLE [dbo].[CHITIETDONHANG] CHECK CONSTRAINT [FK_CHITIETDONHANG_SANPHAM]
GO
ALTER TABLE [dbo].[CHITIETDONNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDONNHAPHANG_DONNHAPHANG] FOREIGN KEY([MADONNHAPHANG])
REFERENCES [dbo].[DONNHAPHANG] ([MDNH])
GO
ALTER TABLE [dbo].[CHITIETDONNHAPHANG] CHECK CONSTRAINT [FK_CHITIETDONNHAPHANG_DONNHAPHANG]
GO
ALTER TABLE [dbo].[CHITIETDONNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETDONNHAPHANG_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MA])
GO
ALTER TABLE [dbo].[CHITIETDONNHAPHANG] CHECK CONSTRAINT [FK_CHITIETDONNHAPHANG_SANPHAM]
GO
ALTER TABLE [dbo].[CHITIETHUYHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHUYHANG_HUYHANG] FOREIGN KEY([MADONHUYHANG])
REFERENCES [dbo].[HUYHANG] ([MADONHUYHANG])
GO
ALTER TABLE [dbo].[CHITIETHUYHANG] CHECK CONSTRAINT [FK_CHITIETHUYHANG_HUYHANG]
GO
ALTER TABLE [dbo].[CHITIETHUYHANG]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHUYHANG_SANPHAM] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MA])
GO
ALTER TABLE [dbo].[CHITIETHUYHANG] CHECK CONSTRAINT [FK_CHITIETHUYHANG_SANPHAM]
GO
ALTER TABLE [dbo].[DONBANHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONBANHANG_KHACHHANG] FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[KHACHHANG] ([MAKHACHHANG])
GO
ALTER TABLE [dbo].[DONBANHANG] CHECK CONSTRAINT [FK_DONBANHANG_KHACHHANG]
GO
ALTER TABLE [dbo].[DONBANHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONBANHANG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[DONBANHANG] CHECK CONSTRAINT [FK_DONBANHANG_NHANVIEN]
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONDATHANG_NHACUNGCAP] FOREIGN KEY([MANHACC])
REFERENCES [dbo].[NHACUNGCAP] ([MANHACC])
GO
ALTER TABLE [dbo].[DONDATHANG] CHECK CONSTRAINT [FK_DONDATHANG_NHACUNGCAP]
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONDATHANG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[DONDATHANG] CHECK CONSTRAINT [FK_DONDATHANG_NHANVIEN]
GO
ALTER TABLE [dbo].[DONNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONNHAPHANG_DONDATHANG] FOREIGN KEY([MDONHANG])
REFERENCES [dbo].[DONDATHANG] ([MADONHANG])
GO
ALTER TABLE [dbo].[DONNHAPHANG] CHECK CONSTRAINT [FK_DONNHAPHANG_DONDATHANG]
GO
ALTER TABLE [dbo].[DONNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONNHAPHANG_NHACUNGCAP] FOREIGN KEY([MANHACC])
REFERENCES [dbo].[NHACUNGCAP] ([MANHACC])
GO
ALTER TABLE [dbo].[DONNHAPHANG] CHECK CONSTRAINT [FK_DONNHAPHANG_NHACUNGCAP]
GO
ALTER TABLE [dbo].[DONNHAPHANG]  WITH CHECK ADD  CONSTRAINT [FK_DONNHAPHANG_NHANVIEN] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[DONNHAPHANG] CHECK CONSTRAINT [FK_DONNHAPHANG_NHANVIEN]
GO
ALTER TABLE [dbo].[PHIEUCHI]  WITH CHECK ADD  CONSTRAINT [FK_PHIEUCHI_BOPHAN] FOREIGN KEY([BOPHAN])
REFERENCES [dbo].[BOPHAN] ([MABP])
GO
ALTER TABLE [dbo].[PHIEUCHI] CHECK CONSTRAINT [FK_PHIEUCHI_BOPHAN]
GO

USE QuanLyVPP
GO

IF(OBJECT_ID('taoMoiMaHoaDonBanHang','P') IS NOT NULL)
	DROP PROC taoMoiMaHoaDonBanHang
GO

CREATE PROCEDURE taoMoiMaHoaDonBanHang
AS
BEGIN
	DECLARE @ma_next NCHAR(10)
	DECLARE @max_MaHoaDon INT
	SELECT @max_MaHoaDon = count(MADONBANHANG) FROM dbo.DONBANHANG
	SET @ma_next = 'BH'+RIGHT('00000000'+ RTRIM(CAST((@max_MaHoaDon+1)AS NCHAR(8))),8)
	WHILE(EXISTS(SELECT MADONBANHANG From dbo.DONBANHANG WHERE MADONBANHANG = @ma_next))
	BEGIN
		SET @max_MaHoaDon +=1;
		SET @ma_next = 'BH'+ RIGHT('0' + RTRIM(CAST((@max_MaHoaDon+1)AS NCHAR(8))),8)
	END
	SELECT @ma_next
END
GO

SELECT RIGHT ('000012345'+CAST(2 AS NCHAR(8)), 8)
GO
SELECT CAST(2 AS NCHAR(8))
SELECT 